---
---

body {
  padding-top: 50px;
  font-size: medium;
  line-height: 180%;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

code.highlighter-rouge {
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
}

li {
    font-weight: bold;
}

.kh-date {
    text-align: right;
    font-weight: bold;
    font-size: large;
}
